useDynLib(mkde, .registration = TRUE)
importFrom("grDevices", "rainbow")
importFrom("stats", "dnorm", "na.omit", "optimize", "pnorm", "qnorm")
import(Rcpp)
import(sf)
import(terra)
import(stars)
export(computeAreaRaster)
export(computeContourValues)
export(computeSizeMKDE)
export(deselectLocationsOutsideBounds)
export(deselectNonMovementSteps)
export(estVarMKDE)
export(initializeAreaRaster)
export(initializeDensity)
export(initializeMKDE2D)
export(initializeMKDE3D)
export(initializeMovementData)
export(mkde2Dgrid)
export(mkde2Dinteraction)
export(mkde3Dgrid)
export(mkde3Dinteraction)
export(mkdeToTerra)
export(plotMKDE)
export(setMaximumZfromConstant)
export(setMaximumZfromRaster)
export(setMinimumZfromConstant)
export(setMinimumZfromRaster)
export(writeInterpolatedPathVTK)
export(writeObservedLocationVTK)
export(writeRasterToVTK)
export(writeRasterToXDMF)
export(writeToGRASS)
export(writeToVTK)
export(writeToXDMF)
