useDynLib(mkde)
import(Rcpp)
importFrom(sp, coordinates)
importFrom(raster, raster, extent, extract, image, ncol, nrow, res, values, stack, addLayer)
importFrom("grDevices", "rainbow")
importFrom("stats", "dnorm", "na.omit", "optimize", "pnorm", "qnorm")
exportPattern("^[[:alpha:]]+")
